* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
}

/* all button design */
.uni-btn {
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: none;
    padding: 12px 36px 12px 36px;
}

.uni-btn:hover {
    background-color: darkcyan;
}

/* sign-up button in navbar */
.btn-1 {
    margin: 51.5px 150px 51.5px 150px;
    height: 48px;
    width: 132px;
}

/* font 1 */
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/* logo */
.name1 {
    margin: 50px 1041px 50px 150px;
}

/* for color M latter */
.text-primary {
    color: #4E47FF;
}

/* font 2 */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
}


.header {
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

/* page 1 next-gen  */
.cnt-1 {
    font-size: 65px;
}

/* page 1 button  */
.btn-2 {
    width: 174px;
    height: 48px;
    margin-top: 37px;
}

/* div button and content pg 1 */
.home-content {
    margin: 309px 267.5px 162px 267.5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* body page bg */
.main-section-1 {
    background-color: azure;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    height: 360vh;
    width: 100%;
}

/* See It in Action */
.action-page {

    display: flex;
    justify-content: space-between;
}

/* page 2 left btn and content  start*/
.cnt-2 {
    margin: 250px 782px 168.5px 150px;
}

.txt-1 {
    font-size: 48px;
    font-weight: bold;
}

.txt-2 {
    font-size: 20px;
    font-weight: normal;
    color: darkgray;
}

.btn-3 {
    width: 229px;
    height: 48px;
    margin-top: 23px;
}

/* pg 2 left cont end */

/* pg 2 img */
.img-1 {
    height: 328px;
    width: 403px;
    border-radius: 48px;
    margin-right: 165px;
    margin-top: 180px;
}

.img-1:hover{
    transform: scale(1.2);
}

/* pg 3 start */
.joined-page {
    margin-top: 220px;
}

/* card designs */
.sectn-1 {
    border-radius: 24px;
    background-color: #4E47FF1A;
    max-width: 1140px;
    height: 306px;
    margin: 0 auto;
    padding: 50px 80px 50px 80px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cnt-3 {
    justify-content: center;
    align-content: center;
    margin: auto auto;
    text-align: center;
    font-size: 48px;
    color: #252432;
}

/* card all cont  */
.cnt-4 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 40px 142px 50px 142px;
}

.txt-3 {
    font-size: 80px;
    color: #4E47FF;
}

.txt-4 {
    font-weight: normal;
    color: #0000005A;
    font-size: 20px;
}

.riview-pg {
    margin-top: 220px;
}

.cnt-5 {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}


.riv-1 {
    margin: 60px 0px 0px 50px;
    background-color: #B0C4DE;
    padding: 26px;
    border-radius: 14px;
}

.cnt-7 {
    display: flex;
}

.img-2 {
    border-radius: 50%;
}

.txt-6 {
    font-family: heading;
}

.txt-7 {
    font-size:20px ;
    font-weight: normal;
    padding: 8px;
}

.txt-12 {
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
}


.txt-13 {
    font-size: 18px;
    font-weight: normal;
    padding: 5px;
}


< !-- ready to focus page -->. {
    background-color: #B0C4DE;
}

.red-1 {
    margin-top: 200px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.red-2 {
    display: block;
    height: 364.77px;
    width: 840px;
    margin: 20px auto 20px auto;
    border-radius: 48px;
}

.red-2:hover{
    transform: scale(1.1);
    margin-top: 80px;
}

.txt-8 {
    font-size: 50px;
}

.txt-9 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: normal;
}

.btn-4 {
    margin-top: 20px;
    width: 195px;
    height: 48px;
}

.get {
    margin-top: 200px;
    display: flex;
    gap: 700px;
}

.txt-11 {
    margin-left: 180px;
    font-size: 97px;
    margin-top: 135px;
}

.get2 {
    padding: 15px;
    margin-right: 150px;

}

.txt-15 {
    height: 45px;
    border-radius: 10px;
    background-color: beige;
    display: block;
    width: 497px;
    margin-top: 10px;
    padding: 20px 32px 20px 32px;
    font-size: 20px;
    font-weight: normal;
}

.txt-16 {
    height: 135px;
    border-radius: 10px;
    background-color: beige;
    display: block;
    width: 497px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 32px 20px 32px;
    font-size: 20px;
    font-weight: normal;
}

.btn-7 {
    display: block;
    width: 365px;
    text-align: center;
    font-size: 22px;
    padding: 19px 101px;
}

/* footer start  */
footer {
    background-color: antiquewhite;
    justify-content: center;
    text-align: center;
    padding: 24px;
}

.name2 {
    font-size: 100px;
}

.txt-10 {
    margin-top: 8px;
    color: #8987a1;
    font-size: 24px;
}

.btn-5 {
    margin-top: 20px;
    color: #8987a1;
    text-decoration: none;
    padding: 10px;
    justify-content: space-between;

}

.btn-9 {
    padding: 12px;
}

.btn-9:hover {
    background-color: whitesmoke;
    border-radius: 5px;
}

.fot-btn {
    margin-left: 40px;
}

footer a {
    text-decoration: none;
    color: #8987a1;
}